# Ignore all raw and processed CSV data
data/raw/dengue/*.csv
data/processed/dengue/*.csv

# Ignore virtual environment and dependency files
requirements.txt

# Ignore Jupyter Notebook checkpoints and Python cache files
*.ipynb_checkpoints
.py
